
p{
    font-family: bold;
    font-size: 50px;
    color: white;
}

button{
    width: 210px;
    height: 120px;
    margin-top: 200px;
    margin-left: 40%;
    background-color: azure;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: gray;
}